                /* *************** Meme *************** */

                .contenedor-meme{
                    background-color: rgb(215, 206, 216);
                    width: 100%;
                    height: 535px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding-left: 10px;
                    padding-right: 10px;
                    position: absolute;
                    top: 90px;
                }
                
                /* .meme-imagen{ /*DAMOS ATRIBUTOS A LA CAJA MEME/*
                    position: relative;
                    width: 450px;
                    height: 280px;
                    background-color: black;
                } */
                
                .meme{
                    /* position: absolute; */
                    /* top: 10px; */
                    background-color: black; /* agregue color */
                    width: 35%; /* agregue medidas de la caja meme-imagen */
                    max-width: 450px;
                    height: 440px; /* agregue medidas de la caja meme-imagen */
                    display: flex;
                    flex-direction: column;
                }
                
                .meme-texto-superior{
                    background-color: white;
                    color: black;
                    text-align: center;
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    font-size: 40px;
                    font-weight: 800;
                    /* height: 20%;
                    padding-top: 15px; */
                    /* height: 80px; */
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                
                #meme-imagen {
                    width: 100%;
                    flex-grow: 1;
                    background-size: cover;
                }
                
                .meme-texto-inferior{
                    background-color: white;
                    color: black;
                    text-align: center;
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    font-size: 40px;
                    font-weight: 800;
                    /* height: 20%;
                    padding-top: 15px; */
                    /*height: 80px;*/
                    padding-top: 10px;
                    padding-bottom: 10px;
                    /* top: 16px; */
                }
                