* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(253, 252, 252);
    transition: .3s ease all;
    background-color: blueviolet;
    
}
.dark{
    background-color: rgb(41, 40, 40);
   
}


/* /////////////////////////////////////////////////////////////// */
/* HEADER */
/* /////////////////////////////////////////////////////////////// */

header{
    background-color: rgb(210, 194, 211);
    position: absolute;
    width: 100%;
    height: 90px;
}

.titulo{
    font-size: 1.7em;
    text-align: center;
    margin-top: 0.5%;
    margin-bottom: 1%;
}

.navegacion-menu{
    display: flex;
    margin: auto;
    width: 18%;
    justify-content: space-around;
}

.navegacion-btn{
    background-color: transparent;
    width: 32%;
    height: 25px;
    color: rgb(78, 77, 77);
    font-size: 0.72em;
    border: none;
    border-radius: 5px;
}

.navegacion-icono{
    color: rgb(78, 77, 77);
    font-size: 1em;
}

.navegacion-btn:hover{
    background-color: rgb(237, 222, 238);
}

.navegacion-btn:focus{
    background-color: rgb(237, 222, 238);
}

.navegacion-btn-switch{
    display: flex;
    background-color: rgb(72, 70, 70);
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    
}
.navegacion-btn-switch span{
    width:30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: white;
}
.navegacion-btn-switch::after{
    content: "";
    display: block;
    width:30px;
    height: 30px;
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 1px 1px rgb(255, 202, 202);
  
}
.navegacion-btn-switch.active{
    background-color: orange;
    color: black;
    }
    .navegacion-btn-switch.active::after{
        left: unset;
         right:0 ;
        }

/* /////////////////////////////////////////////////////////////// */
/* SECTION */
/* /////////////////////////////////////////////////////////////// */

section{
    background-color: rgb(215, 206, 216);
    position: absolute;
    width: 100%;
    height: 535px;
    top: 90px; 
}

.section-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.7%;
}

.section-barra-superior{
    background-color: white;
    width: 450px;
    height: 90px;
}

.section-barra-central{
    background-color: black;
    width: 450px;
    height: 280px;
}

.section-barra-inferior{
    background-color: white;
    width: 450px;
    height: 90px;
}

.section-contenedor-btn{
    display: flex;
    justify-content: center;
}

.btn-section{
    background-color: green;
    border: none;
    color: white;
    font-size: 0.7em;
    width: 9%;
    height: 35px;
    margin-top: 1%;
}

.btn-section:hover{
    background-color: rgb(31, 97, 31);
}

.section-icono{
    color: white;
    font-size: 1em;
}


/* /////////////////////////////////////////////////////////////// */
/*  ASIDE - GENERAL
/* /////////////////////////////////////////////////////////////// */

.titulo1-aside{
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 6%;
}

.titulo2-margen{
    margin-top: 3%;
}

.titulo2-aside{
    font-size: 0.65em;
    font-weight: 700;    
}

.contenedor-aside{
    width: 90%;
    padding-top: 10%;
}

.input-estilo-general{
    width: 100%;
    background-color: rgb(210, 194, 211);
    height: 25px;
    border: none;
    border-radius: 3px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.input-hover:hover{
    background-color: rgb(185, 158, 187);
}

.input-hover:focus{
    background-color: rgb(185, 158, 187);
}

/* /////////////////////////////////////////////////////////////// */
/*  ASIDE - IMAGEN */
/* /////////////////////////////////////////////////////////////// */

.aside-imagen{
    background-color: rgb(237, 222, 238);
    position: absolute;
    width: 15%;
    height: 625px;
    /* right: 0; */
    display: flex;
    justify-content: center;
}

.contenedor-texto-fondo{
    display: flex
}

.input-texto-fondo{
    width: 95%;
    margin-left: 3%;
}

.titulo3-aside{
    font-size: 0.65em;
}

.input-estilo-deslizante{
    width: 100%;
    color: rgb(78, 77, 77);
}

.btn-filtros{
    width: 55%;
    height: 25px;
    font-size: 0.71em;
    background-color: rgb(210, 194, 211);
    border: none;
    border-radius: 3px;
    margin-top: 5%;
}

/* /////////////////////////////////////////////////////////////// */
/*  ASIDE - TEXTO */
/* /////////////////////////////////////////////////////////////// */

.aside-texto{
    background-color: rgb(237, 222, 238);
    position: absolute;
    width: 15%;
    height: 625px;
    right: 0;
    display: flex;
    justify-content: center;
}

.input-check{
    width: 6%; 
    height: 11px;
}

.texto-check{
    font-size: 0.6em;
}

.tamaño-fuente{
    width: 50%;
}

.justificado-fuente{
    width: 14%;
}

.contenedor-color-fondo{
    display: flex;
}

.input-color-fondo{
    width: 95%;
    margin-left: 3%;
}

.input-contorno-ninguno{
    width: 35%;
   padding-left: 3%;
}

.input-contorno-claro-oscuro{
    width: 30%;
    padding-left: 3%;
}