* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(78, 77, 77);
    transition: .3s ease all;
    background-color: rgb(210, 194, 211)
    
}

/* /////////////////////////////////////////////////////////////// */
/* Modo oscuro */
/* /////////////////////////////////////////////////////////////// */

.dark{
    background-color: rgb(41, 40, 40) !important;  
    color: white !important;
}

.oculto{
    display: none;
}


/* /////////////////////////////////////////////////////////////// */
/* HEADER */
/* /////////////////////////////////////////////////////////////// */

                /* *************** Header y título *************** */

header{
    background-color: rgb(210, 194, 211);
    position: absolute;
    width: 100%;
    /* height: 90px; lo saque para que el modo oscuro quede lindo*/
}

.titulo{
    font-size: 1.7em;
    text-align: center;
    /* margin-top: 0.5%; lo saque para que el modo oscuro quede lindo*/
    margin-bottom: 0.5%; 
}


                /* *************** Barra de navegación *************** */

.navegacion-menu{
    display: flex;
    margin: auto;
    width: 18%;
    justify-content: space-around;
}

.navegacion-btn{
    background-color: transparent;
    width: 32%;
    height: 25px;
    /*color: rgb(78, 77, 77);*/
    font-size: 0.72em;
    border: none;
    border-radius: 5px;
}

.navegacion-icono-texto, .navegacion-icono-imagen{
   /* color: rgb(78, 77, 77);*/
    font-size: 1em;
}

.navegacion-btn:hover{
    background-color: rgb(237, 222, 238);
}

.navegacion-btn:focus{
    background-color: rgb(237, 222, 238);
}


                /* *************** Modo oscuro *************** */

.navegacion-btn-switch{
    display: flex;
    background-color: rgb(72, 70, 70);
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;    
}

.navegacion-btn-switch span{
    width: 20px;
    height: 5px;
    line-height: 30px;
    display: block;
    background: none;
    color: white;
}

.navegacion-btn-switch::after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    background: rgb(255, 255, 255);
    top: 10%;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 1px 0px 3px 3px rgb(255, 202, 202);  
}

.navegacion-btn-switch.active{
    background-color: orange;
    color: black;
}

.navegacion-btn-switch.active::after{
    left: unset;
    right: 0;
}

/* /////////////////////////////////////////////////////////////// */
/* MAIN */
/* /////////////////////////////////////////////////////////////// */

                /* *************** Meme *************** */

.contenedor-meme{
    background-color: rgb(215, 206, 216);
    width: 100%;
    height: 535px;
    top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
}

.meme{
    background-color: black;
    width: 35%;
    height: 450px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-bottom: 1%;
}

.meme-texto-superior, .meme-texto-inferior{
    background-color: white;
    color: black;
    height: 20%;
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 2.5em;
    padding: 3%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    position: static;
}

.meme-imagen{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


                /* *************** Botón de descarga *************** */

.main-contenedor-btn{
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn-main{
    background-color: green;
    border: none;
    color: white;
    font-size: 0.7em;
    width: 9%;
    height: 35px;
}

.btn-main:hover{
    background-color: rgb(31, 97, 31);
}

.main-icono{
    color: white;
    font-size: 1em;
}

/* /////////////////////////////////////////////////////////////// */
/*  ASIDE - GENERAL
/* /////////////////////////////////////////////////////////////// */

.aside-imagen-texto{
    background-color: rgb(237, 222, 238);
    position: absolute;
    width: 15%;
    height: 625px;
    right: 0;
    display: flex;
    justify-content: center;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
}

.titulo1-aside{
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 4%;
}

.titulo2-margen{
    margin-top: 3%;
}

.titulo2-aside{
    font-size: 0.65em;
    font-weight: 700;    
}


.input-estilo-general{
    width: 100%;
    background-color: rgb(210, 194, 211);
    color: rgb(78, 77, 77);
    height: 25px;
    border: none;
    border-radius: 3px;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 0.7em;
    padding-left: 3%;
}

.input-hover:hover{
    background-color: rgb(185, 158, 187);
}

.input-hover:focus{
    background-color: rgb(185, 158, 187);
}

.btn-cerrar-panel{
    display: none;
}

/* /////////////////////////////////////////////////////////////// */
/*  ASIDE - IMAGEN */
/* /////////////////////////////////////////////////////////////// */


.contenedor-imagen-fondo{
    display: flex;
    width: 98%;
    justify-content: space-between;
}

.input-imagen-select{
    margin-left: 5%;
    
}

.titulo3-aside{
    font-size: 0.65em;
}

.input-fondo{
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-estilo-deslizante{
    width: 100%;
    color: rgb(78, 77, 77);
}

.btn-filtros{
    width: 60%;
    height: 25px;
    font-size: 0.71em;
    background-color: rgb(210, 194, 211);
    color: rgb(78, 77, 77);
    border: none;
    border-radius: 3px;
    margin-top: 7%;
}

.btn-filtros:hover{
    background-color: rgb(185, 158, 187);
}

.btn-filtros:focus{
    background-color: rgb(185, 158, 187);
}

/* /////////////////////////////////////////////////////////////// */
/*  ASIDE - TEXTO */
/* /////////////////////////////////////////////////////////////// */

.aside-texto{
    background-color: rgb(237, 222, 238);
    position: absolute;
    width: 15%;
    height: 625px;
    right: 0;
    display: flex;
    justify-content: center;
}

.input-check{
    width: 6%; 
    height: 11px;
}

.texto-check{
    font-size: 0.6em;
}

.tamaño-fuente{
    width: 50%;
}

.alineacion-fuente{
    width: 14%;
}

.contenedor-color-fondo{
    display: flex;
    justify-content: space-between;
}

.contenedor-color{
    width: 48%;
}

.contenedor-fondo{
    width: 48%;
}

.contenedor-input-color{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type='color'],
input[type='color']::-webkit-color-swatch-wrapper,
input[type='color']::-webkit-color-swatch {
  width: 16px;
  height: 16px;
  min-width: 16px;
  border-radius: 50%;
  border: none;
  margin: 0;
  padding: 0;
  margin: auto;
}

.span-input-color{
    margin: auto;
}

.input-contorno-ninguno{
    width: 35%;
    padding-left: 3%;
}

.input-contorno-claro-oscuro{
    width: 30%;
    padding-left: 3%;
}



/* /////////////////////////////////////////////////////////////// */
/*  RESPONSIVE */
/* /////////////////////////////////////////////////////////////// */

@media screen and (max-width: 480px){
    
    .oculto{
        display: none;
    }

    .btn-cerrar-panel{
        width: 5%;
        height: 20px;
        display: block;
        background-color: transparent;
        color: rgb(78, 77, 77);
        border: transparent;
        border-radius: 2px;
        font-size: 0.65em;
        font-weight: 900;
        margin-left: 95%;
    }
    
    .btn-cerrar-panel:hover{
        background-color: rgb(185, 158, 187);
    }
    
    .titulo{
        font-size: 1.2em;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .navegacion-menu{
        width: 50%;
    }

    .meme{
        width: 99%;
        height: 330px;
    }
    
    .meme-texto-superior, .meme-texto-inferior{
        height: 10%;
        font-size: 1em;
    }
    
    .btn-main{
        width: 35%;
        margin-top: 8%;
    }

    .aside-imagen-texto{
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
    }

    .contenedor-input-color{
        justify-content: left;
        padding-left: 4%;
    }

    .input-color{
        width: 10%;
        height: 20px;
        margin-right: 4%;
    }

    .btn-filtros{
        width: 40%;
        margin-top: 3%;
    }
}

@media screen and (min-width:481px) and (max-width: 819px){
    
    .oculto{
        display: none;
    }

    .btn-cerrar-panel{
        width: 10%;
        height: 17px;
        display: block;
        background-color: transparent;
        color: rgb(78, 77, 77);
        border: transparent;
        border-radius: 2px;
        font-size: 0.55em;
        font-weight: 900;
        margin-left: 90%;
    }

    .btn-cerrar-panel:hover{
        background-color: rgb(185, 158, 187);
    }

    .titulo{
        margin-top: 1.5%;
    }

    .navegacion-menu{
        width: 30%;
    }

    .meme{
        width: 75%;
    }
    
    .meme-texto-superior, .meme-texto-inferior{
        height: 15%;
        font-size: 1.6em;
    }
    
    .btn-main{
        width: 20%;
        margin-top: 2%;
    }

    .aside-imagen-texto{
        width: 31%;
        padding-left: 1.5%;
        padding-right: 1.5%;
    }

}