* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(78, 77, 77);
}

/* /////////////////////////////////////////////////////////////// */
/* HEADER */
/* /////////////////////////////////////////////////////////////// */

header{
    background-color: rgb(209, 168, 211);
    position: absolute;
    width: 100%;
    height: 90px;
}

.titulo{
    font-size: 1.7em;
    text-align: center;
    margin-top: 0.5%;
    margin-bottom: 1%;
}

.navegacion-menu{
    display: flex;
    margin: auto;
    width: 18%;
    justify-content: space-around;
}

.navegacion-btn{
    background-color: transparent;
    width: 32%;
    height: 25px;
    color: rgb(78, 77, 77);
    font-size: 0.72em;
    border: none;
    border-radius: 5px;
}

.navegacion-icono{
    color: rgb(78, 77, 77);
    font-size: 1em;
}

.navegacion-btn:hover{
    background-color: rgb(203, 202, 202);
}

.navegacion-btn:focus{
    background-color: rgb(203, 202, 202);;
}

/* /////////////////////////////////////////////////////////////// */
/* SECTION */
/* /////////////////////////////////////////////////////////////// */

section{
    background-color: rgb(217, 201, 218);
    position: absolute;
    width: 100%;
    height: 535px;
    top: 90px; 
}

.section-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.7%;
}

.section-barra-superior{
    background-color: white;
    width: 450px;
    height: 90px;
}

.section-barra-central{
    background-color: black;
    width: 450px;
    height: 280px;
}

.section-barra-inferior{
    background-color: white;
    width: 450px;
    height: 90px;
}

.section-contenedor-btn{
    display: flex;
    justify-content: center;
}

.btn-section{
    background-color: green;
    border: none;
    color: white;
    font-size: 0.7em;
    width: 9%;
    height: 35px;
    margin-top: 1%;
}

.section-icono{
    color: white;
    font-size: 1em;
}


/* /////////////////////////////////////////////////////////////// */
/*  ASIDE - GENERAL
/* /////////////////////////////////////////////////////////////// */

.titulo1-aside{
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 6%;
}

.titulo2-margen{
    margin-top: 3%;
}

.titulo2-aside{
    font-size: 0.65em;
    font-weight: 700;    
}

.contenedor-aside{
    width: 90%;
    padding-top: 10%;
}

.input-estilo-general{
    width: 100%;
    background-color: rgb(209, 168, 211);
    height: 25px;
    border: none;
    border-radius: 3px;
    margin-top: 1%;
    margin-bottom: 1%;
}

/* /////////////////////////////////////////////////////////////// */
/*  ASIDE - IMAGEN */
/* /////////////////////////////////////////////////////////////// */

.aside-imagen{
    background-color: rgb(237, 222, 238);
    position: absolute;
    width: 15%;
    height: 625px;
    /* right: 0; */
    display: flex;
    justify-content: center;
}

.titulo3-aside{
    font-size: 0.65em;
}

.input-estilo-deslizante{
    width: 100%;
    color: rgb(78, 77, 77);
}

/* /////////////////////////////////////////////////////////////// */
/*  ASIDE - TEXTO */
/* /////////////////////////////////////////////////////////////// */

.aside-texto{
    background-color: rgb(237, 222, 238);
    position: absolute;
    width: 15%;
    height: 625px;
    right: 0;
    display: flex;
    justify-content: center;
}

.input-check{
    width: 6%; 
    height: 11px;
}

.texto-check{
    font-size: 0.6em;
}

.tamaño-fuente{
    width: 50%;
}

.justificado-fuente{
    width: 14%;
}

.contenedor-color-fondo{
    display: flex;
}

.input-color-fondo{
    width: 95%;
    margin-left: 3%;
}

.input-contorno-ninguno{
    width: 35%;
    padding-left: 3%;
}

.input-contorno-claro-oscuro{
    width: 30%;
    padding-left: 3%;
}